.c2c-dropdown{

}
.c2c-dropdown{
    display:block;
    z-index:10000;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor:auto;
    color:#000;
    background-color:#fff;
    display:none;
    position:absolute;
    min-width:160px;
    margin:0;
    padding:0
}
.c2c-dropdown a{
    padding:6px 16px;
    display:block;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}
.c2c-dropdown a:hover{
    background-color:#ccc
}

.c2c-border{border:1px solid #ccc!important}

.contextMenu {
  position: absolute;
  display:none;
  z-index: 10000;
}
.contextTitle{
    padding:6px 16px;
    font-weight: bold;
    color: #5E5E5E;
}
